
Node/primeiro/node_modules/*
Tarefas/ListadeTarefas/wwwroot/*

Barcode/ExcelToBarcode/.vs/*
Barcode/ExcelToBarcode/bin/*
Barcode/Release/*
Barcode/ExcelToBarcode/obj/*
Barcode/ExcelToBarcode/Debug/*
