@model Locadora.Models.Carro

@{
    ViewData["Title"] = "Editar";
}
<script>

    $(document).ready(function(){
        $("#submit").on("click",function()
          {
            alert('Your Message');
        });
    });

</script>


<h1>Editar</h1>

<h4>Carro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="marca" class="control-label"></label>
                <input asp-for="marca" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ano" class="control-label"></label>
                <input asp-for="ano" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="montadora" class="control-label"></label>
                <input asp-for="montadora" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="placa" class="control-label"></label>
                <input asp-for="placa" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                @using (Html.BeginForm("Update", "Carro", FormMethod.Post))
                {
                    <input type="submit" value="Save" class="btn btn-primary" />
                }
                @if (ViewBag.Message != null)
                {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Message");
                    };
                </script>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Detalhes" >Detalhes</a>
    <a asp-action="Index">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
